*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
form {
    border: 1px solid #ccc;
    padding: 20px 40px 20px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
form h2 {
    margin-bottom: 20px;
}
form input, form textarea  {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #007bff;
    margin-left: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
.error {
    color: red;
}